# User-Specific Files
*.rsuser
*.suo
*.user
*.userosscache

# IDE - Visual Studio Code
.vscode/

# IDE - JetBrains Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Build Results
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]uild/
bld/
[Bb]inaries/
[Tt]est[Rr]esult[s]?/
[Tt]est[Rr]esult/
[Tt]est[Rr]esult.xml
*.TestResult
*.testlog
*.coverage
*.vscode-coverage
