@page
@model LayoutTemplateWebApp.Pages.Option1Model
@{
}

<div class=" rervar ">
        <div class="div">

            <div class="site-bar">
                <div class="inline-nav-item">
                    <div class="wrapper-2">
                        <div class="wrapper-wrapper">
                            <div class="wrapper-3">
                                <div class="icon-left">
                                    <div class="img-wrapper"><img class="img" src="img/image.svg" /></div>
                                </div>
                                <div class="text-5">Realizar reservación</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inline-nav-item-nd">
                    <div class="text-6">
                        <div class="wrapper-3">
                            <div class="icon-left">
                                <div class="img-wrapper"><img class="img" src="img/union.svg" /></div>
                            </div>
                            <div class="text-5">Instalaciones públicas</div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="rervar">
            <div class="div">
                <footer class="footer">
                    <p class="contacto-correo">Contacto <br />Correo: example@itcr.ac Teléfono: 2020-2020</p>
                </footer>
                <div class="content-page"><img class="container" src="img/container.svg" /></div>
                <header class="header">
                    <div class="navbar-default">
                        <div class="app-logo"></div>
                        <div class="components-navbar">
                            <div class="navbar-nav">
                                <div class="nav-item-level">
                                    <div class="nav-item">
                                        <div class="wrapper">
                                            <div class="text"><div class="text-wrapper">Reservación</div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-item-level">
                                    <div class="nav-item">
                                        <div class="wrapper">
                                            <div class="text"><div class="text-2">Mis reservaciones</div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-item-level">
                                    <div class="nav-item">
                                        <div class="div-wrapper">
                                            <div class="text"><div class="text-3"></div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-item-level">
                                    <div class="nav-item">
                                        <div class="div-wrapper">
                                            <div class="text"><div class="text-4"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="width-change-size">
                                <div class="ignore"></div>
                                <div class="ignore"></div>
                            </div>
                            <div class="icon-wrapper-h">
                                <div class="height-change-size">
                                    <div class="ignore"></div>
                                    <div class="ignore"></div>
                                </div>
                                <div class="icon-wrapper">
                                    <div class="width-change-size-2">
                                        <div class="ignore"></div>
                                        <div class="ignore"></div>
                                    </div>
                                    <div class="icon-wrapper-h-2">
                                        <div class="height-change-size-2">
                                            <div class="ignore"></div>
                                            <div class="ignore"></div>
                                        </div>
                                        <div class="union-wrapper"><img class="union" src="img/union-2.svg" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="site-bar">
                    <div class="inline-nav-item">
                        <div class="wrapper-2">
                            <div class="wrapper-wrapper">
                                <div class="wrapper-3">
                                    <div class="icon-left">
                                        <div class="img-wrapper"><img class="img" src="img/image.svg" /></div>
                                    </div>
                                    <div class="text-5">Realizar reservación</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inline-nav-item-nd">
                        <div class="text-6">
                            <div class="wrapper-3">
                                <div class="icon-left">
                                    <div class="img-wrapper"><img class="img" src="img/union.svg" /></div>
                                </div>
                                <div class="text-5">Instalaciones públicas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rervar">
            <div class="div">
                <footer class="footer">
                    <p class="contacto-correo">Contacto <br />Correo: example@itcr.ac Teléfono: 2020-2020</p>
                </footer>
                <div class="content-page"><img class="container" src="img/container.svg" /></div>
                <header class="header">
                    <div class="navbar-default">
                        <div class="app-logo"></div>
                        <div class="components-navbar">
                            <div class="navbar-nav">
                                <div class="nav-item-level">
                                    <div class="nav-item">
                                        <div class="wrapper">
                                            <div class="text"><div class="text-wrapper">Reservación</div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-item-level">
                                    <div class="nav-item">
                                        <div class="wrapper">
                                            <div class="text"><div class="text-2">Mis reservaciones</div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-item-level">
                                    <div class="nav-item">
                                        <div class="div-wrapper">
                                            <div class="text"><div class="text-3"></div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-item-level">
                                    <div class="nav-item">
                                        <div class="div-wrapper">
                                            <div class="text"><div class="text-4"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="width-change-size">
                                <div class="ignore"></div>
                                <div class="ignore"></div>
                            </div>
                            <div class="icon-wrapper-h">
                                <div class="height-change-size">
                                    <div class="ignore"></div>
                                    <div class="ignore"></div>
                                </div>
                                <div class="icon-wrapper">
                                    <div class="width-change-size-2">
                                        <div class="ignore"></div>
                                        <div class="ignore"></div>
                                    </div>
                                    <div class="icon-wrapper-h-2">
                                        <div class="height-change-size-2">
                                            <div class="ignore"></div>
                                            <div class="ignore"></div>
                                        </div>
                                        <div class="union-wrapper"><img class="union" src="img/union-2.svg" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="site-bar">
                    <div class="inline-nav-item">
                        <div class="wrapper-2">
                            <div class="wrapper-wrapper">
                                <div class="wrapper-3">
                                    <div class="icon-left">
                                        <div class="img-wrapper"><img class="img" src="img/image.svg" /></div>
                                    </div>
                                    <div class="text-5">Realizar reservación</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inline-nav-item-nd">
                        <div class="text-6">
                            <div class="wrapper-3">
                                <div class="icon-left">
                                    <div class="img-wrapper"><img class="img" src="img/union.svg" /></div>
                                </div>
                                <div class="text-5">Instalaciones públicas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


